.CardBanner {
	margin: 0 auto;
	@include display(flex);
	@include flex-direction(column);
	@include justify-content(flex-start);
	position: relative;
	width: 100%;
	height: 100%;
}

.CardBanner-header { display: none; }
.CardBanner-header-title { display: none; }
.CardBanner-header-info { display: none; }

.CardBanner-wrapper {
	@include display(flex);
	@include flex-direction(row);
	z-index: 20;
	height: 100%;
}

.CardBanner-video-wrapper {
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
	position: relative;
	z-index: 10;
	width: 100%;
	height: 395px;

	&:hover { cursor: pointer; }
}

.CardBanner-video {
	position: relative;
	width: 600px;
	height: 355px;
	z-index: 20;
	background: red;
	// position: relative;
	// width: auto;
	// height: 85%;
	// z-index: 10;

	&:hover {
		box-shadow: 0 0 3px rgba(0,0,0,.55);
		-webkit-transform: scale(1.02,1.02);
		transform: scale(1.02,1.02);
	}
}

.CardBanner-info {
	@include display(flex);
	@include flex-direction(column);
	@include flex(1 0 0);
	@include align-items(center);
	@include justify-content(flex-start);
	width: 100%;
	background: rgba(0,0,0,.75);
	z-index: 10;
}

.CardBanner-info-header {
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
	font-size: 1.2em;
	height: 40px;
	width: 100%;
	color: #ABABAB;
	&:hover { cursor: default;}
}
.CardBanner-title {
	display: inline-block;
	color: white;
	font-size: 2.1em;
	font-weight: bolder;

	&:hover {
		cursor: pointer;
		color: #44BBFF
	}
}
.CardBanner-user-info {
	@include display(flex);
	@include justify-content(center);
	color: white;
	font-size: 1em;
}
.CardBanner-username {
	color: #44BBFF;
	font-weight: bolder;
	margin-left: 5px;

	&:hover { 
		color: #11a8ff;
		cursor: pointer;
	}
}
.CardBanner-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background: gray;
	top: 0;
	left: 0;
	z-index: 0;
	filter: blur(50px);
	 -webkit-filter: blur(50px);
}
.CardBanner-gradient {
	position: absolute;
	width: 100%;
	height: 100%;
	background: gray;
	top: 0;
	left: 0;
	z-index: 5;
	background: -webkit-linear-gradient(rgba(0,0,0,.5),rgba(109,109,109,.5));
	background: linear-gradient(rgba(0,0,0,.5),rgba(109,109,109,.5));
}

/*
 * CARD LAYOUT OVERRIDES
 */

 .CardBanner.--framed {
 	@include flex-direction(column);

 	.CardBanner-header {display: none;}
 	.CardBanner-wrapper {
 		@include flex-direction(column);
 	}
 }

 .CardBanner.--landscape {
 	@include flex-direction(column);
 	@include align-items(center);
 	@include justify-content(center);
 	max-height: 560px;

 	.CardBanner-header {
 		position: relative;
 		@include display(flex);
 		@include flex-direction(column);
 		z-index: 20;
 		max-width: 950px;
 		color: black;
 		height: 120px;
 		width: 100%;

 		@media (max-width: 800px) {
 			width: calc(100vw - 20px);
 			margin: 10px;
 		}
 	}

 	.CardBanner-header-title {
 		display: block;
 		position: relative; 
 		font-size: 2em;
 		font-weight: bolder;
 		color: white;
 		margin-bottom: 20px;
 	}

 	.CardBanner-header-info {
 		display: block;
 		position: relative; 
 		font-size: 1em;
 		color: white;
 	}

 	.CardBanner-wrapper {
 		height: 50%;
 		width: calc(100vw - 20px);
 		max-width: 950px;
 		margin: 10px;
 		overflow: hidden;

 		&:hover {
 			box-shadow: 0 0 3px rgba(0,0,0,.55);
 			-webkit-transform: scale(1.02,1.02);
 			transform: scale(1.02,1.02);
 			cursor: pointer;
 		}

 		@media (max-width: 800px) {
 			width: 90%;
 			position: relative;
 			height: 240px;
 		}
 		@media (max-width: 600px) {
 			@include flex-direction(column);
 			@include align-items(center);
 			width: 80%;
 			position: relative;
 			height: 500px;
 		}
 	}

 	.CardBanner-video {
 		@include justify-content(center);
 		@include align-items(center);
 		@include flex(5 0 0);
 		position: relative;
 		z-index: 10;
 		width: auto;
 		height: 100%;
 		overflow: hidden;

 		video { 
 			height: 110%;
 			width: auto; 

 			&:hover { transform: none; }

 			@media (max-width: 800px) {
 				height: 100%;
 				width: auto;

 			}
 		}

 		
 	}
 	.CardBanner-info {
 		@include flex(4 0 0);
 		height: 100%;
 		width: 100%;
 	}
 	.CardBanner-header {}
 	.CardBanner-title {}
 	.CardBanner-user-info {}
 	.CardBanner-username {}
 }